<!DOCTYPE html>
<html>
  <head>
    <% if !@profile %>
      <title>Chitter</title>
    <% else %>
      <title><%= "@#{@profile} - Chitter" %></title>
    <% end %>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
    <script type="text/javascript"  src="../javascripts/character_count.js"></script>
    <script type="text/javascript" src="../javascripts/change_border.js"></script>
  </head>
  <body>

    <div id="content">
      <ul id="navbar_links">
        <li><a href="/">Home</a></li>
        <% if !@name %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign up</a></li>
        <% else %>
          <li><a href="<%= @username %>" id="user_profile"><%= "#{@name} @#{@username}" %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>

      <% if @username == @profile %>
        <div id="post_peep">
          <form action="/post_peep" method="post">
            <textarea name="text" placeholder="Message" id="text" name="message" onInput="CountChars(this);" required></textarea>
            <p id="character_count">Characters: 0/200</p>
            <input type="submit" value="Peep!" id="peep_button"></button>
          </form>
        </div>
      <% end %>

      <div id="peeps">
        <ul id="peep_list">
          <% @peeps.reverse_each do |peep| %>
            <% if peep.find_user_info.username == @profile %>
              <li id="<%= peep.id %>">
                <a href="<%= "#{peep.find_user_info.username}" %>">
                  <span id="poster_name"><%= "#{peep.find_user_info.name}" %></span>
                  <span id="poster_username"><%= "@#{peep.find_user_info.username}" %></span>
                </a>
                <span id="peep_time"><%= peep.convert_time(peep.post_time) %></span>
                <span id="edited"><%= peep.edited == 't' ? 'Edited' : '' %></span><br/>
                <hr>
                <p id="peep_text"><%= peep.check_interacton(peep.text, "profile") %></p>
                <% if session[:id] == peep.find_user_info.id %>
                  <hr>
                  <span id="peep_options">
                    <form action="/edit/<%= peep.id %>" method="get">
                      <input type="submit" value="Edit Peep" id="edit_peep" onmouseover="OrangeBorder(this)" onmouseout="NormalBorder(this);">
                    </form>
                    <form action="/delete/<%= peep.id %>" method="post">
                      <input id="hidden" type="hidden" name="_method" value="delete">
                      <input type="submit" value="Delete" id="delete_peep" onmouseover="RedBorder(this)" onmouseout="NormalBorder(this);">
                    </form>
                  </span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  </body>
</html>