<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>

    <div id="content">
      <ul id="navbar_links">
        <li><a href="/">Home</a></li>
        <% if !@name %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign up</a></li>
        <% else %>
          <li><a href="<%= @username %>" id="user_profile"><%= "#{@name} @#{@username}" %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>

      <div id="post_peep">
        <% if @name %>
          <form action="/post_peep" method="post">
            <input type="text" name="text" placeholder="Message" id="text" required>
            <input type="submit" value="Peep!"></button>
          </form>
        <% end %>
      </div>

      <div id="peeps">
        <ul>
          <% @peeps.reverse_each do |peep| %>
            <li class="peep" id="<%= peep.id %>">
              <a href="<%= "#{peep.find_user_info.username}" %>">
                <span id="poster_name"><%= "#{peep.find_user_info.name}" %></span>
                <span id="poster_username"><%= "@#{peep.find_user_info.username}" %></span>
                <span id="peep_time"><%= peep.convert_time(peep.post_time) %></span><br/>
                <hr>
                <p id="peep_text"><%= peep.text %></p>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </body>
</html>